#!/bin/bash

#change on your path to PostgreSQL
#pathA=/c/Program\ Files/PostgreSQL/13/bin
#export PATH=$PATH:$pathA

#write your password
PGPASSWORD="{{ pgpassword }}"
export PGPASSWORD

#change the path to the file from which will be made restore
#write this on the command line as the first parameter
filename="{{ dest_dump_path }}"
#write your user
dbUser="{{ admin_user }}"
#write your database
database="{{ pgdatabase }}"
#write your host
host="{{ pg_host }}"
#write your port
port="{{ pg_port }}"

psql -U $dbUser -h $host -p $port -d $database -c "DROP SCHEMA public CASCADE; CREATE SCHEMA public;"
psql --set ON_ERROR_STOP=off -U $dbUser -h $host -p $port -d $database -1 -f $filename

unset PGPASSWORD